In [1]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(1)

In [2]:
# Dependencies
import numpy as np
import pandas as pd

In [3]:
import tensorflow
tensorflow.keras.__version__

'2.2.4-tf'

In [4]:
houses = pd.read_csv('Resources/home_data.csv')

cut_labels_20 = ['<125k', '125-150k', '150k-175k', '175k-200k', 
                 '200k-220k', '220k-240k', '240k-260k', '260k-280k', '280k-300k',
                 '300k-320k', '320k-340k', '340k-360k', '360k-380k', '380k-400k', 
                 '400k-420k', '420k-440k', '440k-460k', '460k-480k', '480k-500k', 
                 '500k+']
cut_bins = [0, 125000, 150000, 175000, 
            200000, 220000, 240000, 260000, 280000, 
            300000, 320000, 340000, 360000, 380000, 
            400000, 420000, 440000, 460000, 480000,
            500000, 10000000]
houses["price_range"] = pd.cut(houses['price'], bins=cut_bins, labels=cut_labels_20)

houses.head(20)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_range
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650.0,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,220k-240k
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242.0,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,500k+
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000.0,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,175k-200k
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000.0,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,500k+
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080.0,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,500k+
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930.0,1.0,0,0,...,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,500k+
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819.0,2.0,0,0,...,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,240k-260k
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711.0,1.0,0,0,...,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,280k-300k
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470.0,1.0,0,0,...,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,220k-240k
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560.0,2.0,0,0,...,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,320k-340k
10,1736800520,20150403T000000,662500.0,3,2.50,3560,9796.0,1.0,0,0,...,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925,500k+
11,9212900260,20140527T000000,468000.0,2,1.00,1160,6000.0,1.0,0,0,...,860,300,1942,0,98115,47.6900,-122.292,1330,6000,460k-480k
12,114101516,20140528T000000,310000.0,3,1.00,1430,19901.0,1.5,0,0,...,1430,0,1927,0,98028,47.7558,-122.229,1780,12697,300k-320k
13,6054650070,20141007T000000,400000.0,3,1.75,1370,9680.0,1.0,0,0,...,1370,0,1977,0,98074,47.6127,-122.045,1370,10208,380k-400k
14,1175000570,20150312T000000,530000.0,5,2.00,1810,4850.0,1.5,0,0,...,1810,0,1900,0,98107,47.6700,-122.394,1360,4850,500k+
15,9297300055,20150124T000000,650000.0,4,3.00,2950,5000.0,2.0,0,3,...,1980,970,1979,0,98126,47.5714,-122.375,2140,4000,500k+
16,1875500060,20140731T000000,395000.0,3,2.00,1890,14040.0,2.0,0,0,...,1890,0,1994,0,98019,47.7277,-121.962,1890,14018,380k-400k
17,6865200140,20140529T000000,485000.0,4,1.00,1600,4300.0,1.5,0,0,...,1600,0,1916,0,98103,47.6648,-122.343,1610,4300,480k-500k
18,16000397,20141205T000000,189000.0,2,1.00,1200,9850.0,1.0,0,0,...,1200,0,1921,0,98002,47.3089,-122.210,1060,5095,175k-200k
19,7983200060,20150424T000000,230000.0,3,1.00,1250,9774.0,1.0,0,0,...,1250,0,1969,0,98003,47.3343,-122.306,1280,8850,220k-240k

In [5]:
# Filter out expensive houses here if we want to

In [6]:

X_trimmed = houses[["bedrooms","bathrooms","sqft_living","sqft_lot","floors","waterfront","view","condition","grade","sqft_above","sqft_basement","yr_built","yr_renovated","zipcode"]]
X_trimmed = houses.drop(["id","date","price","lat","long","sqft_living15","sqft_lot15","price_range"], axis=1)
X_trimmed = houses.drop(["id","date","price","waterfront","view","yr_renovated","lat","long","sqft_living15","sqft_lot15","price_range"], axis=1)

y_prices = houses["price"]
y_ranges = houses["price_range"]

In [7]:
y.describe()

NameError: name 'y' is not defined

In [ ]:
y_ranges.describe()

In [ ]:
y_prices.plot(kind="hist")

In [ ]:
affordable = houses[houses["price"] <= 1000000]["price"]
affordable.plot(kind="hist")

In [ ]:
affordable.describe()

In [ ]:
houses.shape

## Data Pre-Processing

In [ ]:
#X = houses.drop(["price", "date"], axis=1)
y = houses["price"].values.reshape(-1,1)
print(X_trimmed.shape, y.shape)

In [ ]:
X_trimmed.head(50)

In [ ]:
y_prices = houses["price"]
y_prices.head()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import load_model

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X_trimmed, y_prices, random_state=42)

In [ ]:
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
y_train

In [ ]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_ranges)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [ ]:
# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)
y_train_categorical

# Create a Deep Learning Model

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import r2_score

In [ ]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=50, activation='relu', input_dim=11))
model.add(Dense(units=50, activation='relu'))
#model.add(Dense(units=20, activation='softmax'))  # Classification
model.add(Dense(units=1, activation='linear'))

In [ ]:
# Compile and fit the model
#model.compile(optimizer='adam',
#              loss='categorical_crossentropy',
#              metrics=['accuracy'])

# Compile and fit the model
model.compile(optimizer='adam',
              loss='mean_squared_error',
              metrics=['accuracy']
             )

In [ ]:
model.summary()

In [ ]:
X_train_scaled

In [ ]:
model.fit(
    #X_train_scaled,
    #y_train_categorical,
    X_train_scaled,
    y_train,
    epochs=30,
    shuffle=True,
    verbose=2
)

In [ ]:
model.save("Trained_Models/chris_housing_trained_v1.01.h5")

In [ ]:
model = load_model("Trained_Models/chris_housing_trained_v1.h5")

## Quantify our Trained Model

In [ ]:
#model_loss, model_accuracy = model.evaluate(
#    X_test, y_test_categorical, verbose=2)

#model_loss, model_accuracy = model.evaluate(
#    X_test_scaled, y_test, verbose=2)


y_test_pred = model.predict(X_test_scaled)

value = r2_score(y_test, y_test_pred)

#print(
#    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

print(value)

## Make Predictions

In [ ]:
encoded_predictions = model.predict_classes(X_test[:100])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)
prediction_labels

In [ ]:
encoded_predictions = model.predict_classes(X_test)
prediction_labels = label_encoder.inverse_transform(encoded_predictions)
prediction_labels

In [ ]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test_categorical[:20])}")

In [ ]:
to_categorical y_test_categorical[:20]

In [ ]:
label_encoder.inverse_transform(y_test_categorical[:20])